numpy
pandas
scikit-learn
matplotlib
seaborn
imbalanced-learn
prettytable
xgboost
lightgbm
tensorflow
keras
imbalanced-learn
ttkbootstrap
joblib
xgboost
lightgbm
seaborn




# pip install imbalanced-learn
# pip install prettytable
# pip install xgboost
# pip install lightgbm
# pip install ttkbootstrap    
# pip install pandas
# pip install joblib
# pip install imbalanced-learn
# pip install matplotlib
# pip install xgboost
# pip install lightgbm
# pip install seaborn

# install python 3.10 or lesser version. reason is tensorflow